default:
    formatters:
        pretty: true
    suites:
        default:
          contexts:
            - FeatureContext
            - F1ContentUtilityContext
            - F1FundamentalContext
            - F1DrushUtilityContext
            - F1OGContext
            - Drupal\DrupalExtension\Context\DrupalContext
            - Drupal\DrupalExtension\Context\MinkContext
            - Drupal\DrupalExtension\Context\MessageContext
            - Drupal\DrupalExtension\Context\DrushContext
            - Behat\MinkExtension\Context\RawMinkContext
            - Behat\MinkExtension\Context\RawMinkContext
    extensions:
        Behat\MinkExtension:
            base_url: http://localhost/
            goutte: ~
            selenium2:
              browser:              'phantomjs'
#              capabilities:         { "browserName": "firefox", "deviceType": "desktop"}
              wd_host:              'http://127.0.0.1:8643/wd/hub'
            browser_name: 'phantomjs'
            files_path: '/vagrant/tests/behat/files/'
        Drupal\DrupalExtension:
            blackbox: ~
            text:
                log_out: "Log out"
                log_in: "Log in"
                password_field: "Password"
                username_field: "Username"
            selectors:
                logged_in_selector: "body.logged-in"
                login_form_selector: "form#user-login"
            api_driver: 'drupal'
            drush:
              alias: 'behat.local'
            drupal:
              drupal_root: '/vagrant/public'
vm-selenium:
    formatters:
        pretty: true
    suites:
        default:
          contexts:
            - FeatureContext
            - F1ContentUtilityContext
            - F1FundamentalContext
            - F1DrushUtilityContext
            - F1OGContext
            - Drupal\DrupalExtension\Context\DrupalContext
            - Drupal\DrupalExtension\Context\MinkContext
            - Drupal\DrupalExtension\Context\MessageContext
            - Drupal\DrupalExtension\Context\DrushContext
            - Behat\MinkExtension\Context\RawMinkContext
            - Behat\MinkExtension\Context\RawMinkContext
    extensions:
        Behat\MinkExtension:
            base_url: http://localhost:8081/
            goutte: ~
            selenium2:
              browser:              'chrome'
              capabilities:         { "browserName": "chrome", "deviceType": "desktop"}
              wd_host:              'http://10.11.12.1:5555/wd/hub'
            browser_name: 'chrome'
            files_path: '/vagrant/tests/behat/files/'
        Drupal\DrupalExtension:
            blackbox: ~
            text:
                log_out: "Log out"
                log_in: "Log in"
                password_field: "Password"
                username_field: "Username"
            selectors:
                logged_in_selector: "body.logged-in"
                login_form_selector: "form#user-login"
            api_driver: 'drupal'
            drush:
              alias: 'behat.local'
            drupal:
              drupal_root: '/vagrant/public'

local-phantomjs:
    formatters:
        pretty: true
    suites:
        default:
          contexts:
            - FeatureContext
            - F1ContentUtilityContext
            - F1FundamentalContext
            - F1DrushUtilityContext
            - F1OGContext
            - Drupal\DrupalExtension\Context\DrupalContext
            - Drupal\DrupalExtension\Context\MinkContext
            - Drupal\DrupalExtension\Context\MessageContext
            - Drupal\DrupalExtension\Context\DrushContext
            - Behat\MinkExtension\Context\RawMinkContext
            - Behat\MinkExtension\Context\RawMinkContext
    extensions:
        Behat\MinkExtension:
            base_url: http://localhost:8081/
            goutte: ~
            selenium2:
              browser:              'chrome'
              capabilities:         { "browserName": "chrome", "deviceType": "desktop"}
              wd_host:              'http://127.0.0.1:8643/wd/hub'
            browser_name: 'chrome'
            files_path: '/vagrant/tests/behat/files/'
        Drupal\DrupalExtension:
            blackbox: ~
            text:
                log_out: "Log out"
                log_in: "Log in"
                password_field: "Password"
                username_field: "Username"
            selectors:
                logged_in_selector: "body.logged-in"
                login_form_selector: "form#user-login"
            api_driver: 'drush'
            drush:
              alias: 'dai-usaid.guest'
              drupal_root: '/vagrant/public'

local-selenium:
    formatters:
        pretty: true
    suites:
        default:
          contexts:
            - FeatureContext
            - F1ContentUtilityContext
            - F1FundamentalContext
            - F1DrushUtilityContext
            - F1OGContext
            - Drupal\DrupalExtension\Context\DrupalContext
            - Drupal\DrupalExtension\Context\MinkContext
            - Drupal\DrupalExtension\Context\MessageContext
            - Drupal\DrupalExtension\Context\DrushContext
            - Behat\MinkExtension\Context\RawMinkContext
            - Behat\MinkExtension\Context\RawMinkContext
    extensions:
        Behat\MinkExtension:
            # The url for accessing the guest vm from the host
            base_url: http://localhost:8081/
            goutte: ~
            selenium2:
              browser:              'chrome'
              capabilities:         { "browserName": "chrome", "browser": "chrome"}
              # The url for accessing the guest vm selenium process from the guest VM
              wd_host:              'http://10.11.12.1:5555/wd/hub'
            browser_name: 'chrome'
            files_path: '/vagrant/tests/behat/files/'
        Drupal\DrupalExtension:
            blackbox: ~
            text:
                log_out: "Log out"
                log_in: "Log in"
                password_field: "Password"
                username_field: "Username"
            selectors:
                logged_in_selector: "body.logged-in"
                login_form_selector: "form#user-login"
            api_driver: 'drush'
            drush:
              alias: 'dai-usaid.guest'
              drupal_root: '/vagrant/public'